version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      actions-non-major:
        update-types: [minor, patch]
  - package-ecosystem: cargo
    directory: /
    groups:
      development-non-major:
        dependency-type: development
        update-types: [minor, patch]
    schedule:
      interval: monthly
  - package-ecosystem: rust-toolchain
    directory: /
    schedule:
      interval: quarterly
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: monthly
